h1 {display: flex;
    justify-content: center;
}

main {
    font-family: Lato;
}

table {
    width:100%;
    text-align: center;
    border-collapse: collapse;
}

td, th {
   padding:40px;
    border: 10px solid #546a2a;
}

caption {
    padding-top: 5%;
    font-size: large;
    padding-bottom: 2%;
}


@media screen and (max-width: 600px) {
    td, th {
        padding: 2px; /* Réduire le padding pour les écrans plus petits */
       
    }
}

