body {
background-color: #F2F3EF; 
color: black;
font-family: "Lato", sans-serif;
font-style: normal;
font-weight: 300;
}

.phototxt {
display: flex; /* Utilise le modèle de boîte flexible pour faciliter le positionnement */
flex-wrap: wrap; /* Permet au contenu de s'envelopper sur plusieurs lignes si nécessaire */
align-items: center; /* Centre verticalement le contenu du container */
}

.descequipe {
color: #546A2A;
font-size: 19px;
flex: 1; /* Fait en sorte que le texte prenne toute la largeur disponible */
padding-left: 50px; /* Ajoute une marge à gauche pour l'espace entre l'image et le texte */
}

.photoequipe {
height: 55%;
width: 55%;
object-fit: cover;
border-radius: 50%;
float: left;
}

.bold {
font-weight: bold;
color: #546A2A;
}

@media (max-width: 600px) {
.phototxt {
flex-direction: column;
}
.photoequipe {
order: -1;
}
}

