
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f0f4ef;
}

a{
    transform: rotate(-90deg);
}

header {
    background-color: #f0f4ef;
    padding: 4px;
    text-align: center;
    border-bottom: 1px solid black;
}

.logo {
    margin-bottom: 10px; /* Espacement entre le logo et le titre */
}

.sidebar {
    position: fixed;
    top: 1%;
    left: 0;
    height: 100%;
    width: 13%; /* Largeur de la barre de navigation */
    background-color: #546a2a; /* Couleur de fond de la barre de navigation */
    position:fixed;
    display: flex; /* Utiliser flexbox pour placer les éléments en ligne */
    flex-direction: column; /* Aligner les éléments en colonne */
}

.sidebar a {
    flex: 1; /* Ajouter cette ligne pour distribuer l'espace uniformément entre les liens */
    margin-bottom: 0%; /* Ajouter un espacement entre chaque lien */
    text-decoration: none; /* Supprimer la décoration de soulignement des liens */
    color: black; /* Choisir la couleur du texte */
    font-weight: bold;
    margin-top: 80px;
    padding: 10px; /*lien au milieu de la barre*/
    display: block;
    font-family: Lato;
}

nav {
    margin-top: 8%; /* Espacement entre le haut de la barre de navigation et le premier élément de la liste */
}

nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}



nav a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
}

nav a:hover {
    background-color: #546a2a; /* Couleur de fond au survol */
}

/*LOGO*/

.logo {

    top: 20px; /* Position du haut */
    left: 20px; /* Position de gauche */
    text-align: center;
    margin-bottom: 10px;
}

.logo img {
    width: 90px; /* Largeur du logo */
    height: auto; /* Hauteur automatique pour conserver les proportions */
    vertical-align: middle;
}

.footer {
    border-top: 1px solid black;
    position: absolute;
}

li{
justify-content: space-evenly;}

/* Styles du contenu principal */
main {
    margin-left: 200px; /* Pour laisser de l'espace à la barre de navigation */
    padding: 60px;
   
}

/* Styles du pied de page */
footer {
    background-color: #f0f4ef;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid black;
}

.nava{
    justify-content: space-evenly
}